*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
body{
    min-height: 100vh;
    background-color: rgb(234, 232, 232);
    font-family: sans-serif;
}
.chenar{
    margin: auto;
    margin-top:50px;
    width: 600px;
    max-width: 90%;
}
.chenar form{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgb(153, 240, 153);
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
}
.chenar form h2{
    text-align: center;
    margin-bottom: 24px;
    color:black;
}
.chenar form .form-control{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid silver;
    margin: 10px 10px 18px 10px;
    padding: 0 10px;
}
.chenar form .btn{
    margin-left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background-color: rgb(245, 94, 40);
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}
.chenar form .btn:hover{
    opacity: .7;
}
.bara_start{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li{
     
     float:right;
     
}
.poza_logo{
    width: 60px;
    height: 60px;
}
.bara_prezentare{
    background-color: rgb(19, 119, 59);
    margin:0;
    padding:0;
}
body{
    background-color: rgb(234, 232, 232);
    margin: 0;
    padding: 0;
}
li a{
    text-decoration: none;
    text-align: center;
    color: black;
    margin: 5px;
    padding: 10px;
    margin-right: 30px;
    display: block;
    border-radius: 30px;
}
li a:hover{
    background-color: chartreuse;
}
.active{
    color:white;
}